html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}

.cover {
  padding: 0 1.5rem;
}

.background {
  background-image: asset-url("background.jpeg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width:50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
}

.spacer {
  padding: 15px;
}

.btn-wide {
  width: 100%;
}

.nav-bar {
  background: rgba(60, 60, 60, 1);
  position: fixed;
  width: 100%;
  height: 60px;
}
